/* Etiquetas generales de la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;

}

img{
    max-width: 100%;
    max-height: 100%;
}

/* Encabezado */

.nav a{
        text-decoration: none;
        color: orange;
        font-family: 'Roboto', sans-serif;
}

.li1:hover a{
    color: orangered;
    text-decoration:underline
}

.li2:hover a{
    color: orangered;
    text-decoration:underline
}
.li3:hover a{
    color: orangered;
    text-decoration:underline
}

.li4:hover a{
    color: orangered;
    text-decoration:underline
}

.li-home:hover a{
    color: orangered;
    text-decoration: underline;
}


.nav{
background-color: #181818;
display: flex;
flex-direction: row;
align-items: center;
padding: 1rem;
font-family: Arial,Helvetica;
}

.lista-desplegable{
    background-color: #181818;
    border: 2px solid orange;
position: absolute;
display: none;
z-index: 2;
}

.menu-lista:hover .lista-desplegable{
display: block;
display: flex;
align-items: center;
flex-direction: column;
}


.logo1{
    background-color:none;
    height: 69px;
    width: 70px;
    position:scroll;
    display: flex;
    justify-content: left;
    margin-right: 50px;

    /* logo de lamborghini */
}

.logo2{
    height: 60px;
    width: 199px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    margin: 10px 10px 10px 10px;

    /* logo letras lamborghini */
}

nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.bi-chevron-double-down{
    display: none;
}

.menu-lista:hover .bi-chevron-down {
    display: none;
}

.menu-lista:hover .bi-chevron-double-down {
    display: inline;
}

/* Section 1 */

.portada {
    height: 100vh;
    width: 100%;
    resize: both;
    overflow: auto;
    background-image: url(../images/lamborghini-22.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.portada span{
font-style: italic;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 50px;
margin-left: 130px;
margin-top: 145px;
}


/* Section 2 */

.modelos span{
    font-style: italic;
}

.modelos h2,h3,h4{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}


.modelos{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: #181818;
}

.titulo1{
    text-align: center;
    margin-top: 79px;
    margin-bottom: 50px;
    width: 100%;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.modelos article{
    background-color: grey;
    width: 50vh;
    height: 60vh;
    margin: 40px;
    border: 2px solid orange;
    width: 450px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}

.modelos article ul {
    list-style: none;
    padding: 0;
}

.modelos h1{
    text-align: center;
    padding: 20px;
    }    

.lamborghinihuracan{
    height: 19vh;
    width: 42vh;
    position: scroll;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:66px;
}

.lamborghinirevuelto{
    height: 26vh;
    width: 53vh;
    position: scroll;
}

.lamborghiniurus{
    height: 27vh;
    width: 40vh;
    position: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

.lamborghini-urus,.lamborghini-revuelto,.lamborghini-huracan,.lamborghinihuracan p{

    font-family: 'Roboto', sans-serif;
}

/* utilizo div para poder separar y poder trabajar en los cuerpos de las trajetas separandolos de la img en si */

.cuerpo-tarjeta{
    padding: 29px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modelos article{
    margin-bottom: 100px;
}

    .modelos article button {
        height: 4.5vh;
        width: 11.25vh;
        color:white;
        background-color: black;
        margin-top: 20px;
        border: 2px white solid;
    }

    .boton{
        font-family: 'Roboto', sans-serif;
border-radius: 200px;
    }

.boton:hover{
color: orange;
cursor:pointer;
border: 2px orange solid;
    }



/* Section 3 */

.pruebademanejo{
    height: 100vh;
    width: 100%;
    resize: both;
    overflow: auto;
    background-image: url(../images/lamborghini-prueba-de-manejo.jpeg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: scroll;
    position: scroll;
    color:white;
}

.titulo-pruebademanejo{
    color: black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
margin-left: 90px;
margin-top: 130px;
}

.texto-pruebademanejo{
    color: black;
    margin-left: 90px;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
}

.contacto-pruebademanejo{
    max-width: 100px;
    margin-left: 300px;
    margin-top: 14px;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}


.contacto-pruebademanejo:hover{
color: white;
text-decoration: underline;
}


/* Section 4 */

.concesionarios{
    background-color: #181818;
}

.conc{
    color: white;
    display: flex;
justify-content: center;
padding:20px;
font-family: 'Roboto', sans-serif;

}

.conc1{
    color: orange;
    display: flex;
justify-content: center;
padding:20px;
font-size: 2vh;
font-family: 'Roboto', sans-serif;
}


/* page1 */

.video-huracan{
    opacity: 0.7;
    width: 100%;
    overflow:fill;
    resize: fill;
z-index: 1;
}

.huracan{
    position: absolute;
    z-index: 3;
    top: 380px;
    left: 160px;
    font-size: 10vh;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.huracan span{
    font-style: italic;
}

.imagenes-huracan{
    background-color: black;
    padding-bottom: 100px;
}

.imagenes-huracan article{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    /* justify-content: ; HORIZONTAL*/
    /* align-content: ; VERTICAL */
}

.imagenes-huracan article div {
    margin: 15px;
    border: solid 2px orange;
}

.imagenes-huracan img {
    width: 100%;
    height: 100%;
}

.imagenes-huracan h3{
    color: orange;
    display: flex;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    padding: 90px 0px 50px 0px;
}

.info-pages{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 150px;
    padding: 180px 200px 100px 200px;
    background-color: black;
}

.texto{
    font-family: 'Roboto',sans-serif;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.info-pages .grids img{
border: solid 2px orange;
border-radius: 20px;
width: 700px;
height: 400px;
}

.grids{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* RESPONSIVE siempre ultimo por cascada */
@media(max-width: 576px) {
.imagenes-huracan{

}
}



/* page2 */

.video-urus{
    opacity: 0.8;
    height: 100%;
    width: 100%;
    resize: auto;
    overflow: auto;
}

.imagenes-urus article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes-urus article div {
    margin: 5px;
}

.imagenes-urus img {
    width: 100%;
    height: 100%;
}


.imagenes-urus{
    background-color: black;
    padding-bottom: 100px;
}

.imagenes-urus article{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    /* justify-content: ; HORIZONTAL*/
    /* align-content: ; VERTICAL */
}

.imagenes-urus article div {
    margin: 15px;
    border: solid 2px orange;
}

.imagenes-urus img {
    width: 100%;
    height: 100%;
}

.imagenes-urus h2{
    color: orange;
    display: flex;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    padding: 90px 0px 50px 0px;
}



/* page3 */

.video-revuelto{
    height: 100%;
    width:100%;
    resize: auto;
    overflow: auto;
opacity: 0.8;
}

.imagenes-revuelto{
    background-color: black;
    padding-bottom: 100px;
}

.imagenes-revuelto article{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    /* justify-content: ; HORIZONTAL*/
    /* align-content: ; VERTICAL */
}

.imagenes-revuelto article div {
    margin: 15px;
    border: solid 2px orange;
}

.imagenes-revuelto img {
    width: 100%;
    height: 100%;
}

.imagenes-revuelto h2{
    color: orange;
    display: flex;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    padding: 90px 0px 50px 0px;
}


/* Footer, pie de pagina */

.footer h6{
color: orange;
font-size: 30px;
}

.footer{
    display: flex;
    padding: 35px;
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: center;
    justify-content:space-around;
    background-color: #181818;
    color: white;
    font-family: 'Lato', sans-serif;
}

.logo-lambo2{
    height: 60px;
    width: 199px;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer h1{
    color: orange;
}

.footer a:hover{
    color: orange;
    text-decoration: underline;
}

.bi-instagram{
    color: #ca0183;
}

.bi-facebook{
    color: blue;
}

.bi-youtube{
    color: red;
}






